# Dependencias del proyecto
node_modules/
vendor/
__pycache__


# Archivos de entorno y credenciales (Seguridad)
.env
.venv

.env.local
*.pem

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Carpetas de compilación
dist/
build/